<ul class="navbar-nav ml-auto mt-2">
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/admin_update">View/Edit News</a>
      <a class="dropdown-item" href="/admin_sources">View/Edit Sources</a>
      <a class="dropdown-item" href="/admin_users">View/Edit Users</a>
    </div>
    </div>